.contactForm {
    width: calc(100% - 20px);
    max-width: 700px;
    /* margin: 0 auto; */
}

/* STYLES FOR FORM */
form {
    width: 70%;
    display: grid;
    grid-gap: 30px;
    padding-top: 20px;
}

.inputGroup {
    width: 100%;
    position: relative;
}

  .inputGroup1 {
      grid-column: 1 / span 2;
      grid-row: 1;
      border-bottom: 2px solid #f4f6f6;
  }
  .inputGroup2 {
      grid-column: 2;
      grid-row: 1;
      border-bottom: 2px solid #f4f6f6;
  }
  .inputGroup3 {
      grid-column: 1;
      grid-row: 2;
      border-bottom: 2px solid #f4f6f6;
  }
  .inputGroup4 {
      grid-column: 2;
      grid-row: 2;
      border-bottom: 2px solid #f4f6f6;
  }
  .inputGroup5 {
      grid-column: 1 / span 2;
      grid-row: 3;
      border-bottom: 2px solid #f4f6f6;
  }
  .inputGroup6 {
      grid-column: 1;
      grid-row: 4;
      /* border-bottom: 2px solid #f4f6f6; */
  }
  .inputGroup7 {
      grid-column: 2;
      grid-row: 5;
      text-align: left;
  }


.inputGroup__textfield {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 13px;
    padding: 20px;
    border: none;
    outline: 0;
    border-radius: 0;
    /* transition: border 0.3s ease-in-out; */

}
.flex-form {
    display: flex;
    justify-content: center;
}
.head-con {
    border-bottom: 2px solid #ff0707;
    /* border-bottom-width: 7px; */
}
 
button {
    padding: 20px;
    width: 50%;
    border: 0;
    background: #000;
    cursor: pointer;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

  button:hover {
      box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.2);
  }


/* STYLES FOR VALIDATION WARNING */
.hf-warning {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(-15%, -50%) !important;
    background: orangered !important;
    display: inline-block !important;
    padding: 7px 14px !important;
    color: #FFFFFF !important;
    font-size: 11px !important;
    font-family: sans-serif;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1) !important;
    border: 0 !important;
    border-radius: 2px !important;
}

  .hf-warning:after {
      content: "";
      width: 10px;
      height: 10px;
      background: orangered;
      position: absolute;
      z-index: 1;
      bottom: -5px;
      right: 15px;
      transform: rotate(45deg);
  }

  .con-li {
    list-style-type: none;
    display: flex;
    padding: 5px 0;
}
.con-ul{
    padding: 0;
}
.address {
    margin-left: 18px;
}
span {
    font-weight: 600;
}
.address p{
    margin: 0;
}
.para p{
    margin: 0;
    margin-left: 18px;
}
.phone a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
     }
.direction a {
    color: #f50000;
    text-decoration: none;
    font-size: 22px;
}
.social_icon{
    display: flex;
}
 .soc-icon {
    background-color: #7cccbf;
    color: rgb(255, 255, 255);
    font-size: 16px;
    display: inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 7px;
    border-radius: 100%;
 }
 .con-map{
     background-color: #7cccbf;
     height: 350px;
    
 }
 .map-img {
    transform: translateY(-31%);
}
.form-sec{
    padding-bottom: 270px;
}
@media screen and (max-width: 480px) {
    form {
      display: flex !important;
      flex-wrap: wrap;
    }

    form > div {
      margin-bottom: 30px;
    }
}