body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
}
header{
   position: fixed;
   width: 100%;
   overflow: hidden;
   z-index: 1;
}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 50px;
   background-color: #fff;
  
}
.nav-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-item{
   list-style-type: none;
   margin-left: 48px;
}
.nav-link{
   font-size: 19px;
   text-decoration: none;
   color: #000;

}
.logo{
   margin-left: 40px;
}
.main-banner img{
   width:100%;
   height: 100%;
}

.flex-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
}
.flex-item{
   position: relative;

}
.flex-item:hover{
   border-bottom: 3px solid #26e4c4;
}

.flex-item:hover .overlay{
   display: block;
   background-color: #b2d7d159;
  

}
.flex-item:hover .text{
   top: 250px;
}

.overlay{ 
   position: absolute;
   top: 0;
   left:0;
   width: 100%;
   height: 100%;
   transition: all 0.5s ease ease-in-out;
   
   
}
.flex-item:hover .dis-text{
   opacity: 1;
}
.dis-text{
   font-size: 19px;
   color: #fff;
   text-transform: none;
   text-decoration: none;
   background-color: #a4a4a4;
   padding: 6px 25px;
   border-radius: 25px;
   letter-spacing: 1px;
   opacity: 0;
}
.text{
   position: absolute;
   top: 50%;
   left: 32%;
   text-transform: uppercase;
   font-size: 27px;
   color: #fff;
   transform: translate(-50% -50%);
   letter-spacing: 1px;
}
.main-head h1{
   text-align: center;
   font-size: 40px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #7cccbf;
   font-family:'GothamBook';
   font-weight: 300;
}
.legancy-sec{
   background-image: url("/images/legancy.jpg");
   height: 100%;
   background-position: center;
   background-size: cover;
  
}
.legancy-con .main-head{
   margin: 4%;
   padding: 12%;
}

.main-head p{
   text-align: center;
}
.value-flex{
   display: flex;
}
h1.value-head{
   color: red;
   text-align:left;
   font-size: 28px;
   text-transform: none;
}